
/*Weiße H1*/
.h1-white{
    color: white;
}
h1{
    text-align: center;
}

body{
    background-color: #262e39;
}
h2{
    text-align: center;
}


/*Styling für den Text der Teammember*/
.TeamMember{
    text-align: center;
}


hr{
    border-top: 10px solid black;
}

.centeredInfo-white{
    text-align: center;
    font-weight: bold;
    color: white;
    border-style: solid;
    border-radius: 0.5em;
    border-color: white;
    border-width: 1px;
    padding: 0.5em;
}


/*Blauer Button*/
.btn-blue{
    border-style: hidden;
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: #0269e7;
    color: white;
    transition: all .15s ease-in-out;

}

.btn-blue:hover{
    background-color: #0d79fd;
    transform: scale(1.05);
}


/*Grüner Button*/
.btn-green{
    border-style: hidden;
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: #30b089;
    color: white;
    transition: all .15s ease-in-out;
}

.btn-green:hover{
    background-color: #41c49d;
    transform: scale(1.05);
}


/*Inputs mit Typ Text*/
.textInput{
    border:0;
    border-bottom:1px solid #555;  
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color: white;
    transition: all .15s ease-in-out;
    margin-bottom:  1.5em;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
}
.textInput:hover{
    transform: scale(1.01);
}

.textInput::placeholder{
    color: white;
    opacity: 0.6;
}

.textInput:focus{
    outline-width: 0;
}

/*Inputs mit typ Select*/
.selectInput{
    border-style: hidden;
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: #284361;
    color: white;
    transition: all .15s ease-in-out;
}

/*Labels für Inputs*/
.inputLabel{
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
	transition: all 0.5s ease-in-out;
    pointer-event:none;
}

/*Submit Button für den Login*/
#submitLogin{
    margin-left: auto;
    margin-right: auto;
    width: 15em;
}

/*Links etc*/
a{
text-align: center;
margin-left: auto;
margin-right: auto;
}


/*Box oder Div die das Formular enthält*/
#formBox{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    background-color: #384454;
    padding-bottom: 1em;
    width: 20em;
    border-radius: 0.5em;
}


